@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TS-Regular";
  src: url(./../fonts/TildaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "TS-Bold";
  src: url(./../fonts/TildaSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "TS-Medium";
  src: url(./../fonts/TildaSans-Medium.ttf);
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "TS-Regular";
}
