@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TS-Regular";
  src: url(./../fonts/TildaSans-Regular.woff2);
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "TS-Regular";
}
