.container {
  max-width: 1828px;
  height: 336px;
  width: 100%;
  padding: 0 45px;
  margin-bottom: 86px;
  display: flex;
  flex-direction: column;
  gap: 112px;
}
.spliter {
  height: 47px;
}
.splitterText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.21px;
}
.graphics {
  height: 6px;
  width: 100%;
  border-radius: 0 0 2px 2px;
  border: 1px solid #505050;
  border-top: 0;
}
.ellipse {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
}
.links {
  display: flex;
  justify-content: space-between;

  height: 48px;
}
.mainLinks {
  display: flex;
  gap: 56px;

  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.36px;
}
.socialMedia {
  display: flex;
  gap: 6px;
}
.socialMediaButton {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.17px;

  height: 48px;
  background-color: #1b1b1b;
  border-radius: 10px;
  padding: 12px 16px;
}
.copyright {
  display: flex;
  justify-content: space-between;

  color: #727272;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;

  height: 17px;
}
.karanikolaStudioLink {
  font-size: 15px;
  display: none;
}
.studioSpan {
  color: #5b5b5b;
}

@media (max-width: 1120px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    margin-bottom: 51px;
    gap: 40px;
  }
  .links {
    flex-direction: column;
    height: auto;
    gap: 54px;
  }
  .mainLinks {
    flex-direction: column;
    gap: 20px;
    font-size: 17px;
  }
  .copyright {
    flex-direction: column;
    gap: 20px;
    height: auto;
    font-size: 14px;
  }
  .spliter {
    height: auto;
  }
  .splitterText {
    font-size: 14px;
    margin-bottom: 9px;
  }
  .socialMediaButton {
    padding: 12px;
    font-size: 14px;
  }
  .karanikolaStudioLink {
    display: inline;
  }
}
